# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:your-deployment-id

# Convex
NEXT_PUBLIC_CONVEX_URL=https://your-convex-url.convex.cloud

# Kinde Auth
KINDE_CLIENT_ID=your-kinde-client-id
KINDE_CLIENT_SECRET=your-kinde-client-secret
KINDE_ISSUER_URL=https://your-kinde-issuer-url.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard
